@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
@import "tailwindcss";

html {
  font-family: "Josefin Sans", sans-serif;
}

/* book now animations  */
@keyframes shine {
  0% {
    left: -75%;
  }
  100% {
    left: 125%;
  }
}

.animate-shine {
  animation: shine 2s infinite;
}
